.testversion {
  box-shadow: inset 0 0 10px #000000;
  padding: 1em;
  font-style: italic;
  background-color: rgb(0,0,90); /* dark blue */
}

.testversion p {
  background-color: rgb(0,0,90); /* dark blue */
  color: yellow !important;
  font-weight: bold;
}

#innerwrapper {
  padding-left: 10%;
  padding-right: 10%;
}

ul.actions {
  
}

.actionlinks {
  text-align: center;
}

.actionlinks a {
  background-color: darkred;
  box-shadow: 5px 5px 5px rgba(50,50,50,0.5);
  color: white;
  padding: 5px 8px;
  cursor: pointer;
}


.actionlinks div {
  background-color: darkred;
  box-shadow: 5px 5px 5px rgba(50,50,50,0.5);
  color: white;
  padding: 5px 8px;
}

.actionlinks a:hover {
  background-image: linear-gradient(to bottom, #6d0019 0%,#8f0222 34%,#e20425 100%);
}

.actionlinks a:active {
  background-image: linear-gradient(to bottom, #633b00 0%,#750202 34%,#ef8204 100%);
}

.actionlinks div:active {
  background-image: linear-gradient(to bottom, #633b00 0%,#750202 34%,#ef8204 100%);
}



body, body * {
  background-color: white;
  color: rgb(20,15,05);
}

body p, body li {
  background-color: white;
  color: rgb(20,15,05);
  font-size: 12pt;
}

.versionnumber {
  color: darkblue;
}



/*
  https://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/
*/


h1, h2, h3, h4 {
  /* color: #1a566d; */
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  text-align: center;
  color: rgba(20,30,50,0.6);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
  text-shadow:
       3px 3px 0 #EEE,
     -1px -1px 0 #EEE,  
      1px -1px 0 #EEE,
      -1px 1px 0 #EEE,
       1px 1px 0 #EEE;
/*       
  
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
          */
          
  text-stroke: 1px lightblue;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
  font-weight: normal;
}

h2.colored {
  color:red !important;
}

h3 {
  font-size: 13pt;
}